.image_background {
    background-image: url('../../assets/img/public-page-background.jpg');
    background-size: cover;
    height: 100%;
}

.profile_user_image_size {
    width: 90px;
    height: 90px;
}